---
layout: page
title: Presenters
description: SDE Skills is proud to have an impressive array of participants, who have led various sessions. We are listing folks who helped us with their insightful sessions.
background: '/img/bg-presenters.jpg'
form: true
---

<section id="section-contactus" class="section-wrapper presenters">
<div class="container">   
  {% for year in site.data.presenters %}
  <div class="row">
    <h2 class="col-sm-12 section-title">{{ year[0] }}</h2>
  </div>
  <div class="row">
    {% for member in year[1] %}
    <div class="col-md-3 text-center">
      {% if member.pic %}
      <img src="img/people/{{ member.pic }}" class="img-responsive img-circle" alt="">
      {% else %}
      <img src="img/people/placeholder.jpg" class="img-responsive img-circle" alt="">      
      {% endif %}
      <p class="text">{{member.name}} 
      <a href="https://www.linkedin.com/in/{{member.linkedin}}"><i class="fa-lg fab fa-linkedin"></i>
      </a>
      </p>
      {% if member.title %}
      <p class="text">{{member.title}}</p>
      {% else %}
      <p class="text">Presenter @ SDE Skills</p>
      {% endif %}

    </div>
    {% endfor %}
  </div>
  {% endfor %}
</div>
</section>


