<!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
  <div class="container">
    <a class="navbar-brand" href="{{"/" | relative_url }}">
      <img src="{{ '/img/logo.png' | prepend: site.baseurl | replace: '//', '/' }}" alt="" height=30>
    {{ site.title | escape }}</a>
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
      Menu
      <i class="fa fa-bars"></i>
    </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a class="nav-link" href="{{"/" | relative_url }}">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{"/about" | relative_url }}">About</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Chapters</a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            {% assign chapters = site.chapters | sort: "sortkey" %}
            {% for chapter in chapters %}
            <a class="dropdown-item" href="{{chapter.url | relative_url }}">{{chapter.title}}</a>
            {% if chapter.title=="Mission Control" %}  
            <div class="dropdown-divider"></div>
            {% endif %}
            {% endfor %}
          </div>
        </li>
        </li>        
        <li class="nav-item">
          <a class="nav-link" href="{{ '/posts/' | relative_url }}">Posts</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{ '/presenters' | relative_url }}">Presenters</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{ '/resources' | relative_url }}">Resources</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">More</a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="{{ '/ctci' | relative_url }}">CTCI - Lesson Plan</a>
            <a class="dropdown-item" href="{{ '/leetcode' | relative_url }}">Leetcode - Practice</a>
            <a class="dropdown-item" href="{{ '/study-groups' | relative_url }}">Study Groups</a>
            <a class="dropdown-item" href="{{ '/youtube-channel' | relative_url }}">YouTube Videos</a>
            <a class="dropdown-item" href="{{ '/why-join-discord' | relative_url }}">Why Join Discord</a>
          </div>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{ '/contact' | relative_url }}">Contact</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
