---
layout: default
---

<!-- Page Header -->
{% if page.background %}
<header class="masthead" style="background-image: url('{{ page.background | prepend: site.baseurl | replace: '//', '/' }}')">
  {% else %}
  <header class="masthead">
    {% endif %}
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="page-heading">
            <h1>{{ page.name }}</h1>
            {% if page.year %}
            <span class="subheading">Established: {{ page.year }}</span>
            {% endif %}
          </div>
        </div>
      </div>
    </div>
  </header>

  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
		    {{ content }}

        {% if page.meetup-name or page.meetup-link or page.slack-meetup or page.slack-studygroup or page.slack-elves or page.calendar %}
        <section id="section-meetups" class="section-wrapper">
          <div class="container">
              <div class="row">
                {% if page.calendar %}
                <div class="col-md-5 section-text">
                {% else %}
                <div class="col-md-12 section-text">                
                {% endif %}
                <h2 class="section-title">Join us</h2>      
                <ul>
                  {% if page.meetup-name %}
                  <li>In-person meetup each week: <a href="{{ page.meetup-link }}">{{ page.meetup-name }}</a></li>
                  {% endif %}
                  {%if page.slack-studygroup %}
                  <li>Discord - Join us on discord <a href="https://sdeskills.com/discord">https://sdeskills.com/discord</a> and join the following channels:
                  <ul> 
                    {%if page.slack-meetup %}
                    <li>Meetup Announcements: {{ page.slack-meetup }}</li>
                    {% endif %}
                    <li>Study Group: {{ page.slack-studygroup }}</li>
                    <li>Elves: {{ page.slack-elves }}</li>
                  </ul></li>
                  {% endif %}
                </ul>
                </div>
                {% if page.calendar %}
                  <div class="col-md-7">
                     <iframe class="calendar" src="{{ page.calendar }}"></iframe>
                  </div>
                {% endif %}                
              </div>
            </div>      
        </section>
        {% endif %}

        <section id="section-meetups" class="section-wrapper">
        	<div class="container">
            <div class="row">
                <div class="col-lg-12 ">
                  {% if page.support-team-heading %}			
                      <h2 class="section-title">{{page.support-team-heading}}</h2>
                  {% else %}			
                      <h2 class="section-title">Local Support Team</h2>
		  {% endif %}
                </div>
              </div>          
        	    <div class="row">
        		    {% for member in page.team %}
        		    <div class="col-sm-4">
        		        <div class="team-member">
        		            <img src="/img/people/{{ member.pic }}" class="img-responsive img-circle" alt="">
        		            <h4 class="name">{{ member.name }}</h4>
        		            <p class="text-muted role">{{ member.position }}</p>
        		        </div>
        		    </div>
        		    {% endfor %}
        	    </div>
            </div>	    
        </section>


      </div>
    </div>
  </div>
