---
layout: default
---

<!-- Page Header -->
{% if page.background %}
<header class="masthead" style="background-image: url('{{ page.background | prepend: site.baseurl | replace: '//', '/' }}')">
  {% else %}
  <header class="masthead">
    {% endif %}
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-12 mx-auto">
          <div class="post-heading">
            <h1>{{ page.title }}</h1>
            {% if page.subtitle %}
            <h2 class="subheading">{{ page.subtitle }}</h2>
            {% endif %}
          </div>
        </div>
      </div>
    </div>
  </header>

  <div class="container">
    <div class="row">
      {% if page.session-video %}
      <div class="col-md-6 mx-auto">
      {%else %}
      <div class="col-12 mx-auto">
      {% endif %}
        <h2>Questions:</h2>
        <ul>
          <li> <a href="{{page.link-easy}}">{{ page.title-easy }}</a></li>
          <li> <a href="{{page.link-medium}}">{{ page.title-medium }}</a></li>
          <li> <a href="{{page.link-hard}}">{{ page.title-hard }}</a></li>
        </ul>
      </div>
    {% if page.session-video %}
      <div class="col-md-6">
        <h2>Recording:</h2>
          <iframe width="560" height="315" src="{{ page.session-video }}" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      </div>
    {% endif %}
    </div>


    <div class="row">
      <div class="col-12 mx-auto">
        {{ content }}
      </div>
    </div>  

    <div class="row">
      <div class="col-12 mx-auto">
        <h2>How does this work?</h2>
        <p>Each day/week, we will share 3 questions from leetcode.com from easy, medium and hard difficulty levels. Please solve the questions post your code on repl.it or ideone.com or equivalent website. Test your code against test cases in leetcode. </p>
        <p>Do you want to participate interactively? <a href="/leetcode">Join Leetcode Practice</a> and look out for the solution discussion in our daily zoom session.
        </p>
      </div>
    </div>

    <div class="row">
      <div class="col-12 mx-auto">
        <div class="clearfix">

          {% if page.previous.url %}
          <a class="btn btn-primary float-left" href="{{ page.previous.url | prepend: site.baseurl | replace: '//', '/' }}" data-toggle="tooltip" data-placement="top" title="{{ page.previous.title }}">&larr; Previous<span class="d-none d-md-inline">
              Post</span></a>
          {% endif %}
          {% if page.next.url %}
          <a class="btn btn-primary float-right" href="{{ page.next.url | prepend: site.baseurl | replace: '//', '/' }}" data-toggle="tooltip" data-placement="top" title="{{ page.next.title }}">Next<span class="d-none d-md-inline">
              Post</span> &rarr;</a>
          {% endif %}

        </div>

      </div>
    </div>


  </div>
